.container {
	margin: 0 auto;
	max-width:  800px;
	background-color: #e4f6fc;
	height: 100%;
}
#tb-overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	text-align: center;
	overflow-x:auto;
}
#twinklebox {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	max-width: 100vw;
	max-height: 100vh;
	z-index: 1000;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
	
}
#twinklebox img {
	display: block;
	box-sizing: border-box;
	max-width: 100vw;
	max-height: 100vh;
	padding: 10px;
	padding-top: 50px;
	border: 4px solid #fff;
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}

#tb-nav-left,
#tb-nav-right {
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 40%;
}
#tb-nav-left {
	width: 40%;
	left: 0;
}
#tb-nav-right {
	width: 60%;
	right: 0;
}
